server:
  port: 8082
springdoc:
  swagger-ui:
    url: /openapi.yaml
  api-docs:
    enabled: true


spring:
  datasource:
    username: postgres
    password: sumo6842
    url: jdbc:postgres://localhost:5432/oath2

  kafka:
    producer:
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer

